---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
color:white;
padding:0;
background-color: green;
background-image:url(/images/vaches.jpg);
background-size : cover;
background-attachment: fixed;
}



#titre {
    text-transform: uppercase;
    font-size: 56px;
    text-align: center;
    color: red;
    border-top: groove;
    margin-top: 20px;
    padding-top: 20px;
}

#logo {
#display : inline-block;
margin-right: 8px;
margin-left: 8px;
margin-top: 10px;
margin-bottom: 14px;
}

.footer-col{
color: white;
a:link{color:white};
}


header {
background-position:center;
background-repeat: no-repeat;
background-image:url(/images/eglise.jpeg);
}
footer {
background-position:center;
background-repeat: no-repeat;
}
#center {
background-color : white;
width : 800px;
color:blue;
a:link{color:black};
a:hover{color:black}; /*quand on passe la souris sur un lien*/
}

#blason{
    position:absolute;
    top:230px;
    left:50%;
    margin-left:-720px;
}

#flag{
    position:absolute;
    top:480px;
    left:50%;
    margin-left:-720px;
    width:40px;
}

#resto{
    position:absolute;
    top:380px;
    right:50%;
    margin-right:-720px;
    width:130px;
}

#cocarde{
    position:absolute;
    top:230px;
    right:50%;
    margin-right:-720px;
    width:130px;
}

#UE{
    position:absolute;
    top:660px;
    left:50%;
    margin-left:-720px;
    width:130px;
}
#LEADER{
    position:absolute;
    top:660px;
    right:50%;
    margin-right:-720px;
    width:130px;
}
#europeEnLorraine{
    position:absolute;
    top:560px;
    right:50%;
    margin-right:-720px;
    width:130px;
}
#paysBarrois{
    position:absolute;
    top:600px;
    left:50%;
    margin-left:-720px;
    width:130px;
}
#meuse{
    position:absolute;
    top:430px;
    left:50%;
    margin-left:-720px;
    width:130px;
}
.pastille img{
    max-height:150px;
}


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       green;
$background-color: white;
$brand-color:      black;
//#2a7ae2;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color,40%);
$grey-color-dark:  darken($grey-color, 25%);
 
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
