<!DOCTYPE html>
<html>


    {% include head.html %}
  <body>
<div id="blason" class="pastille">
	<a href="https://fr.wikipedia.org/wiki/%C3%88vres">
            <img src="/images/blasonEvres.jpeg" />
        </a>
</div>

<div id="resto" class="pastille">
	<a href="/resto_fr.html">
            <img src="/images/resto.png" />
        </a>
</div>

<div id="cocarde" class="pastille">
	<a href="/1WW-weekend_fr.html">
            <img src="/images/centenaire.png" />
        </a>
</div>


<div id="UE" class="pastille">
	<a href="http://www.europa.eu">
            <img src="/images/logoUE.jpg" />
        </a>
</div>

<div id="paysBarrois" class="pastille">
	<a href="http://www.paysbarrois.com">
            <img src="/images/logoPaysBarrois.jpg" />
        </a>
</div>

<div id="europeEnLorraine" class="pastille">
	<a href="http://www.europe-centre.eu/fr/42/Le_programme_LEADER.html">
            <img src="/images/europeEnLorraine.jpg" />
        </a>
</div>

<div id="LEADER" class="pastille">
	<a href="http://www.europe-centre.eu/fr/42/Le_programme_LEADER.html">
            <img src="/images/logoLEADER.jpg" />
        </a>
</div>

<div id="meuse" class="pastille">
	<a href="http://www.tourisme-meuse.com">
            <img src="/images/logoMeuse.png" />
        </a>
</div>

<!--div id="flag" class="pastille">
	<a href="https://fr.wikipedia.org/wiki/%C3%88vres">
            <img src="/images/drapeauFrancais.jpeg" />
        </a>
</div-->


    {% include header.html %}
    <div   class="page-content">
      <div id="center" class="wrapper" >
        {{ content }}
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
