<!DOCTYPE html>
<html>




    {% include head.html %}
  <body>





<div id="blason" class="pastille">
	<a href="https://fr.wikipedia.org/wiki/%C3%88vres" target="_blank">
            <img src="/images/blasonEvres.jpeg" alt="Blason d'Evres" />
        </a>
</div>

<div id="resto" class="pastille">
	<a href="/resto_fr.html" target="_blank">
            <img src="/images/resto.png" />
        </a>
</div>

<!--div id="cocarde" class="pastille">
	<a href="/1WW-weekend_fr.html" target="_blank">
            <img src="/images/centenaire.png" />
        </a>
</div-->

<div id="ConstellationButtonContainer06793d60-aa77-4456-82f9-1e282daab00b"  title="Ferme de l&#39;Ecurieux" data-id-projet='06793d60aa77445682f91e282daab00b'>Chargement en cours...</div>
<script type="text/javascript" src="https://reservation.elloha.com/Scripts/widget-loader.min.js?v=42"></script>
<script type="text/javascript">var constellationWidgetUrl06793d60aa77445682f91e282daab00b, constellationTypeModule06793d60aa77445682f91e282daab00b; constellationWidgetUrl06793d60aa77445682f91e282daab00b = 'https://reservation.elloha.com/Widget/BookingButton/06793d60-aa77-4456-82f9-1e282daab00b?idoi=4dc86106-0a4b-41af-ba35-56f89c1f59ab&culture=fr-FR'; constellationTypeModule06793d60aa77445682f91e282daab00b=3; constellationBookingButtonLoad('ConstellationButtonContainer06793d60-aa77-4456-82f9-1e282daab00b');</script>

<div id="UE" class="pastille">
	<a href="http://www.europa.eu" target="_blank">
            <img src="/images/logoUE.jpg" />
        </a>
</div>

<div id="paysBarrois" class="pastille">
	<a href="http://www.paysbarrois.com" target="_blank">
            <img src="/images/logoPaysBarrois.jpg" />
        </a>
</div>

<div id="europeEnLorraine" class="pastille">
	<a href="http://www.europe-centre.eu/fr/42/Le_programme_LEADER.html" target="_blank">
            <img src="/images/europeEnLorraine.jpg" />
        </a>
</div>

<div id="LEADER" class="pastille">
	<a href="http://www.europe-centre.eu/fr/42/Le_programme_LEADER.html" target="_blank">
            <img src="/images/logoLEADER.jpg" />
        </a>
</div>

<div id="meuse" class="pastille">
	<a href="http://www.tourisme-meuse.com" target="_blank">
            <img src="/images/logoMeuse.png" />
        </a>
</div>

<!--div id="flag" class="pastille">
	<a href="https://fr.wikipedia.org/wiki/%C3%88vres">
            <img src="/images/drapeauFrancais.jpeg" />
        </a>
</div-->


    {% include header.html %}
    <div   class="page-content">
      <div id="center" class="wrapper" >
        {{ content }}
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
